<div class="container p-5 row">
    <div class="col-md-5">
        <div class="form">
            <div class="form-group">
                <input class="form-control" [(ngModel)]="formProduct.Nombre" value="{{formProduct.Nombre}}" placeholder="Nombre" >
            </div>
            <div class="form-group">
                <textarea class="form-control" [(ngModel)]="formProduct.Description" value="{{formProduct.Description}}" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" [(ngModel)]="formProduct.Precio" value="{{formProduct.Precio}}" placeholder="Precio" />
            </div>
            <input class="form-control btn {{edit?'btn-danger':'btn-success'}}" type="button" placeholder="Enviar" value="{{edit?'Edit':'Guardar'}}" (click)="edit?updateProduct():addProduct()" />
        </div>
    </div>
    <div *ngIf="error" class="container">
        No se logro realizar la tarea  {{mensaje}}
    </div>
    <div class="container form-group col-md-5">
        <div class="form-control">
            <h2>{{formProduct.Nombre}}</h2>
        </div>
        <div class="form-control">
            <p>{{formProduct.Description}}</p>
        </div>
        <div class="form-control">
            <h4>{{formProduct.Precio}}</h4>
        </div>
    </div>
</div>